#title{
    background-color: #eeeeee;

}

h1{
    font-family: sans-serif;
    font-size: 4.5rem;
    line-height: 1.3;
    
}

.container-fluid{
    padding: 3% 15%;
}


body{
    text-align: right;
    font-family: sans-serif;
}
 
/* Navigation Bar */

.navbar{
    padding: 0 0 4.5rem;
}
.navbar-brand{
    font-size: 3rem;
    font-weight: lighter;
}

.nav-item{
    padding: 0 18px;
}

.nav-link {
    font-size: 1.5rem;
}

/* Purchase Button */

.purchase-button {
    margin-top: 2.5rem;
}

/* Title Image */

#title-image {
    width: 50rem;
}


/* Features Section */

#features {
    padding: 7% 15%;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.h3-features {
    font-weight: bold;
    font-size: 2.5rem;
}

.p-features {
    color: #a79f9f;
    font-weight: bold;
    font-size: 1.5rem;
}

.icon{
    margin-bottom: 1rem;
    color: rgb(219, 74, 74);
}

.icon:hover {
    color: rgb(219, 38, 38);
}

/* Testimonals Section */

#testimonals {
    
    text-align: center;
    background-color:#eeeded;
}

.h2-testimonal {
    font-size: 3rem;
    line-height: 2;
}

.carousel-item {
    padding: 7% 15%;
}

.testimonal-icon {
    margin-bottom: 2rem;
    color:rgb(22, 168, 187);
}

.testimonal-icon:hover {
    color: rgb(69, 127, 134);
}


/* Questions and Answers Section */

#qna {
    text-align: center;
    padding: 1% 15% 7%;
}

.qna-img {
    width: 30%;
}

.qna-paragraph {
    font-size: 3rem;
}

.ul-qna {
    font-size: 1.5rem;
    text-align: justify;
}

/* Media functions */

@media (max-width: 1028px) {

    #title {
        text-align: center;
    }
    #title-image{
        position: static;
    }
}

/* Contact Us section */

#contact-us {
    background-color: #eeeeee;
    padding: 5% 39%;
}

.card-header{
    background-color: rgb(22, 168, 187);
    text-align: center;
}

.h3-contact-us {
    color: white;

}

.send-button {
    color: white;
    background-color: rgb(22, 168, 187);
}

.contact-us-col {
    padding: 1%;
}


.fa-contact-us {
    color:  rgb(22, 168, 187);
}

.text-box-height {
    height: 3rem;
} 


.fa-comment-contact-us {
    padding-top: 0.9rem;
}

/* Footer Section */

#footer {
    padding: 2% 10%;
    text-align: center;
    font-size: 1.5rem;
}

.social-icon {
    margin: 20px 10px;
}